body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: white;
}

.app {
    text-align: center;
    margin-top: 50px;
}

.subtitle {
    color: #ccc;
    margin-bottom: 20px;
}

.card {
    background: #2c2c3e;
    width: 420px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input, select {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

button {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #6c5ce7;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #a29bfe;
}

.output {
    background: #1e1e2f;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

.output p {
    margin: 10px 0;
}
